.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
        &__logotipo {
            width: 160px;
            height: 80px;
            margin-left: 2rem;
            margin-right: 1rem;
            }
        &__merendero {
            font-family: sensei;
            font-size: 25px;
            text-align: start;
            margin-bottom: 10px;
            }
        &__infancias {
            font-family: dreaming;
            font-size: 20px;
            text-align: center;
            margin:0%
            }        
    }

.animate__animated.animate__heartBeat {
    --animate-duration: 3s;
}

.section__tablet {
    display: none;
}

.nav__lista {
    display: flex;
    flex-direction: row;
    list-style: none; 
    padding: 0;
    }

.nav__link {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: indie;
    font-weight: bold;
    padding-top: 2rem;
    padding-left:1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.nav__link:hover {
    color: white;
background-color: hsl(249, 100%, 73%);
border-radius: 25px;
}