@font-face {
    font-family: dancing;
    src: url(../fuentes/DancingScript-VariableFont_wght.ttf);
        }

@font-face {
    font-family: map-get($estilo, f-indie);
    src: url(../fuentes/IndieFlower-Regular.ttf);
            }

.nosotros {
    color: map-get($estilo,colornegro) ;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
        &__titulo {
            list-style: none;   
            font-family: map-get($estilo, f-indie);
            font-size: 44px;
            text-align: map-get($estilo, centro);
            font-weight: map-get($estilo, negrita);
        }
        &__parrafo {
            @extend .nosotros__titulo;
            font-size: 18px;
            padding-left: 1rem;
            margin: 1rem;
            text-decoration: map-get($estilo, decoracion);
        }
        &__subtitulo {
            @extend .nosotros__parrafo;
            font-size: + 2px;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }


